* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    box-sizing: border-box;
    text-shadow: #0000009f 1px 1px 1px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(/src/assets/albi.jpg);
    background-position: center;
    background-size: cover;
}
.container h1 {
    text-align: center;
    margin-bottom: 5%;
    font-size: 30px;
}
.input {
    position: relative;
    width: auto;
    height: 50px auto;
    margin: 30px auto;
}
.input input {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: transparent;
    text-align: center;
    outline: none;
    border-radius: 40px;
    border: 2px solid rgba(2, 2, 2, 0.300);
    font-size: 14px;
    color:black;
}
.input input::placeholder {
    color: rgba(2, 2, 2, 0.800);
}
.icon {
    position: absolute;
    right: 25px;
    top: 30%;
    color: rgba(2, 2, 2, 0.800);
}
.form {
    width: 35%;
    padding: 2%;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: black 5px 5px 15px;
}
.loginButton {
    border-radius: 40px;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 15px;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(248, 248, 248);
    margin-bottom: 10px;
    text-shadow: none;
}

.remember {
    font-size: 12px;
    display: flex;
    justify-content:space-between;
    margin: 0px 0 20px;
}

.remember input {
    margin-right: 5px;
    
}
.remember a {
    text-decoration: none;
}

.remember a:hover {
    text-decoration: underline;
}

.registered {
    font-size: 10px;
    text-align: center;
    justify-content: space-around;
}

.registered a {
    text-decoration: none;
}

.registered a:hover{
    text-decoration: underline;
}